@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.texto-h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typewriter 2s steps(40) 1 normal both, blink 500ms steps(40) infinite;
}

/* Adicionando delays para cada linha */
.line1 {
  animation-delay: 0s;
}

.line2 {
  animation-delay: 2s; /* Inicia após a primeira linha */
}

.line3 {
  animation-delay: 4s; /* Inicia após a segunda linha */
}

.line4 {
  animation-delay: 6s; /* Inicia após a terceira linha */
}